simple-springbean-example/target/classes/simple-springbean-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">


	<spring:beans>
		<spring:bean id="userBean" class="com.anupam.bean.User">
			<spring:property name="firstName" value="Mule" />
		</spring:bean>
		<spring:bean id="userService" class="com.anupam.service.UserSRVImpl">
			<spring:property name="user" ref="userBean" />
		</spring:bean>

	</spring:beans>

	<flow name="xml-declaration-flow">
		<http:listener config-ref="HTTP_Listener_8081" path="/spring/"
			doc:name="HTTP" />
		<invoke object-ref="userService" method="sayHello" doc:name="Invoke" />
		<logger level="INFO" doc:name="Logger" message="#[payload]"/>
	</flow>
</mule>
