object-datastore-example/src/main/app/object-datastore-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>

		<!-- Data Source configuration -->
		<spring:bean id="dataSource" name="dataSourceBean"
			class="org.h2.jdbcx.JdbcDataSource">
			<spring:property name="URL"
				value="jdbc:h2:tcp://localhost/~/db_objectstore" />
			<spring:property name="user" value="admin" />
			<spring:property name="password" value="admin" />
		</spring:bean>


		<!-- My Object Store -->
		<spring:bean id="myObjectStore" class="com.anupam.os.MyObjectStore"
			init-method="init" name="myObjectStoreBean">
			<spring:property name="dataSource" ref="dataSource" />
			<spring:property name="insertQueryKey"
				value="insert into KEY_VALUE (K,V) values (?,?) " />
			<spring:property name="selectQueryKey"
				value="select k,v from KEY_VALUE where k = ?" />
			<spring:property name="deleteQueryKey"
				value="delete from KEY_VALUE where K = ?" />
			<spring:property name="clearQueryKey" value="delete from KEY_VALUE" />
		</spring:bean>

	</spring:beans>


	<http:listener-config name="HTTP_Listener_8081"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<objectstore:config name="ObjectStore_Connector"
		objectStore-ref="myObjectStore" doc:name="ObjectStoreConnector" />

	<flow name="object-datastore-exampleFlow">
		<http:listener config-ref="HTTP_Listener_8081" path="/objectstore/"
			doc:name="HTTP" />
		<objectstore:store config-ref="ObjectStore_Connector"
			doc:name="Store" key="#[message.inboundProperties.'http.query.params'.k]" value-ref="#[message.inboundProperties.'http.query.params'.v]" />
		<objectstore:retrieve config-ref="ObjectStore_Connector"
			key="#[message.inboundProperties.'http.query.params'.k]" doc:name="Retrieve" />
        <objectstore:remove config-ref="ObjectStore_Connector" key="#[message.inboundProperties.'http.query.params'.k]" doc:name="Remove"/>
		<logger level="INFO" doc:name="Logger" />
	</flow>
</mule>
