ag-splunk/src/main/mule/ag-splunk.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="35d983b0-618b-4ade-bdbe-dbae1e310b43" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ag-splunkFlow" doc:id="c977edc0-1b6b-409a-ba72-39aa86220f1f" >
		<http:listener doc:name="Listener" doc:id="6d8e5ff5-d198-4b8e-8769-ded32bdb0c3b" config-ref="HTTP_Listener_config" path="/api/hello"/>
		<ee:transform doc:name="Transform Message" doc:id="0540bbf7-80d1-48f5-9d46-842a8057e1a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Log received: " ++ now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="796e7c97-5c36-43a8-8fb4-4848846d9844" message="#[payload]"/>
	</flow>
</mule>
