appdev-american-ws/target/test-classes/message-filter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <and-filter name="And" doc:name="And">
        <expression-filter expression="#[message.inboundProperties.'http.query.params'.id==1]"/>
        <expression-filter expression="message.inboundProperties.'http.query.params'.name=='anupam'"/>
    </and-filter>
    <flow name="message-filterFlow">
        <http:listener config-ref="HTTP_Listener_8081" path="/filter/*" doc:name="HTTP"/>
        <filter ref="And" doc:name="Filter Reference"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
