springbeanexample/target/classes/EncryptionStrategy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:encryption="http://www.mulesoft.org/schema/mule/encryption" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/encryption http://www.mulesoft.org/schema/mule/encryption/current/mule-encryption.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_8081" host="localhost"
		port="8081" doc:name="HTTP Listener Configuration" />
	<spring:beans>
		<spring:import resource="classpath:bean-config.xml" />
	</spring:beans>
    <encryption:config name="JCE" doc:name="Encryption"/>
    <encryption:config name="JCE_Keystore" doc:name="Encryption">
        <encryption:jce-encrypter-config key="ackey" keyPassword="ackeypass" keystorePassword="acstorepass" keystorePath="keystore/aes-ackeystore.jck" />
    </encryption:config>
	<flow name="JCE_Encryption_Attribute">
		<http:listener config-ref="HTTP_8081" path="/jce/*"
			doc:name="HTTP" allowedMethods="GET,POST"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <encryption:encrypt config-ref="JCE" using="JCE_ENCRYPTER" doc:name="JCE Encryption">
            <encryption:jce-encrypter key="${encrypt.key}" keyPassword="1234" algorithm="AES" encryptionMode="CBC"/>
        </encryption:encrypt>
        <logger message="#[payload]" level="INFO" doc:name="Log encoded payload "/>
        <encryption:decrypt config-ref="JCE" using="JCE_ENCRYPTER" doc:name="Decrypt Payload">
            <encryption:jce-encrypter key="${encrypt.key}" keyPassword="1234" algorithm="AES" encryptionMode="CBC"/>
        </encryption:decrypt>
        <logger message="#[payload]" level="INFO" doc:name="Log decoded payload"/>
        <invoke object-ref="personBean" method="sayHello" doc:name="Invoke"/>
	</flow>
	<flow name="JCE_Encryption_Keystore">
        <http:listener config-ref="HTTP_8081" path="/key/*" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <encryption:encrypt config-ref="JCE_Keystore" doc:name="Encrypt"/>
        <logger message="#[payload]" level="INFO" doc:name="Encrypted payload"/>
        <encryption:decrypt config-ref="JCE_Keystore" doc:name="Decrypt"/>
        <logger message="#[payload]" level="INFO" doc:name="Decrypted payload"/>
    </flow>
    
</mule>
