appdev-american-ws/target/classes/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="testFlow">
        <http:listener config-ref="HTTP_Listener_8081" path="/request/" doc:name="HTTP"/>
        <set-property propertyName="size" value="100" doc:name="Property"/>
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <logger level="INFO" doc:name="Logger2"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.route=='direct']">
                <logger level="INFO" doc:name="Logger1"/>
            </when>
            <when expression="#[message.payload is java.util.List]">
                <logger level="INFO" doc:name="Logger2"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger4"/>
            </otherwise>
        </choice>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
