appdev-american-ws/target/classes/wordpress-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:rest="http://www.mulesoft.org/schema/mule/rest" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/rest http://www.mulesoft.org/schema/mule/rest/current/mule-rest.xsd">
    <rest:config name="Rest__Configuration" site="gocodeblog.wordpress.com" doc:name="Rest: Configuration"/>
   
    <flow name="rest-connectorFlow">
        <http:listener config-ref="HTTP_Listener_8082" path="/rest/" doc:name="HTTP"/>
        <rest:get-posts config-ref="Rest__Configuration" field="title,URL" doc:name="WordPress"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
